<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SQLRepeater.SQLRepeaterSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SQLRepeater.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DbConnFactory" value="System.Data.SqlClient" />
  </appSettings>
  <userSettings>
    <SQLRepeater.SQLRepeaterSettings>
      <setting name="ConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="QueryText" serializeAs="String">
        <value />
      </setting>
      <setting name="ExecutionOptions" serializeAs="String">
        <value />
      </setting>
    </SQLRepeater.SQLRepeaterSettings>
    <SQLRepeater.Settings1>
      <setting name="ConnectionString" serializeAs="String">
        <value />
      </setting>
    </SQLRepeater.Settings1>
  </userSettings>
</configuration>