<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SQLDataProducer.SQLDataProducerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="SQLDataProducer.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DbConnFactory" value="System.Data.SqlClient"/>
  </appSettings>
  <userSettings>
    <SQLDataProducer.SQLDataProducerSettings>
      <setting name="ConnectionString" serializeAs="String">
        <value/>
      </setting>
      <setting name="QueryText" serializeAs="String">
        <value/>
      </setting>
    </SQLDataProducer.SQLDataProducerSettings>
    <SQLDataProducer.Settings1>
      <setting name="ConnectionString" serializeAs="String">
        <value/>
      </setting>
    </SQLDataProducer.Settings1>
  
</userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
